<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="かな入力タイピング練習サイト">
        <title>かな入力タイピング練習サイト</title>

        <script src="words.js"></script>
        <script src="sentence.js"></script>
        <script src="./resource/library/vue.min.js"></script>
        <script src="./resource/library/element_ui.min.js"></script>

        <link rel="stylesheet" href="./index.css">
        <link rel="stylesheet" href="./resource/library/element_ui.css">
    </head>

    <body>
        <div id="app">
            <transition name="fade">
                <div v-show="largeMode" class="large-mode">{{ currentKana }}</div>
            </transition>

            <div v-show="!largeMode" class="mode">
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="平仮名 / 片仮名 を切り替える" placement="top">
                        <span class="text">仮名タイプ</span>
                    </el-tooltip>
                    <el-radio-group v-model="kana_mode" @input="switchKanaMode" size="small">
                        <el-radio-button :label="false">平仮名</el-radio-button>
                        <el-radio-button :label="true">片仮名</el-radio-button>
                    </el-radio-group>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="現在練習しているの仮名が強調します" placement="top">
                        <span class="text">初心者モード</span>
                    </el-tooltip>
                    <el-switch v-model="simple_mode"></el-switch>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="一つ仮名で展示しもす" placement="top">
                        <span class="text">巨大モード</span>
                    </el-tooltip>
                    <el-switch v-model="largeMode"></el-switch>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 0">
                    <el-tooltip class="item" effect="dark" content="重み値を示します、重み値が高いほど現れる確率が高くなります" placement="top">
                        <span class="text">重さ値を表示</span>
                    </el-tooltip>
                    <el-switch v-model="weight_show"></el-switch>
                </div>
                <div class="option">
                    <el-tooltip class="item" effect="dark" content="仮名 / 単語 / 文章 モードを切り替える" placement="top">
                        <span class="text">練習タイプ</span>
                    </el-tooltip>
                    <el-select v-model="exerciseTypeIndex" @change="exerciseTypeChange" size="mini" placeholder="モード" style="width: 120px;">
                        <el-option
                            v-for="item in exerciseType"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="option" v-if="exerciseTypeIndex === 1">
                    <el-select v-model="words_selected_item" @change="wordsItemChange" size="mini" placeholder="単語リスト" style="width: 120px;">
                        <el-option
                            v-for="item in wordsArray"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="option">
                    <el-select v-model="correctSoundSelected" @change="correctSoundChange" size="mini" placeholder="効果音" style="width: 120px;">
                        <el-option
                            v-for="item in correctSound"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <!--    <el-input style="margin: 0 auto;display: block;-->
            <!--    width: 500px;" type="textarea" @input="handleSentenceInput" @focus="focusin" @blur="focusout" :placeholder="Sentence['Bad Apple!!'].japanese" v-model="textarea"></el-input>-->
            <!--    <div style="white-space: pre-line;-->
            <!--    height: 100px;-->
            <!--    overflow: scroll;-->
            <!--    margin: 0 auto;-->
            <!--    width: 500px;">{{ Sentence["Bad Apple!!"].japanese }}</div>-->

            <div v-show="!largeMode" class="content">
                <h2 v-if="exerciseTypeIndex === 0">現在の{{ kana_mode ? "片仮名" : "平仮名" }}: {{ currentKana }}</h2>
                <el-progress v-if="exerciseTypeIndex === 1 || exerciseTypeIndex === 2" :percentage="calculatePercentage()" :text-inside="true" :stroke-width="16" style="width: 500px;"></el-progress>
                <h1 v-if="exerciseTypeIndex === 1 || exerciseTypeIndex === 2">{{words.word}}</h1>
                <p v-if="exerciseTypeIndex === 1 || exerciseTypeIndex === 2" class="input_word">{{ input_word }}</p>
                <div v-if="exerciseTypeIndex === 1" class="ruby">{{words.ruby}}</div>
                <div v-if="words.trans && (exerciseTypeIndex === 1 || exerciseTypeIndex === 2)" class="words-trans">{{words.trans}}</div>
                <transition name="fade1">
                    <div class="keyboard">
                        <div class="row">
                            <div v-for="(key, i) in currentKeys[0]" :key="key.character" v-show="i !== 10" :class="['key', { nu_key: i === 0,
                                  highlight: (key.character === currentKana ||
                                  (currentKana === 'を' && key.character === 'わ') ||
                                  (currentKana === 'ヲ' && key.character === 'ワ')) && simple_mode }]">
                                <span>{{ key.character }}</span>
                                <span class="double" v-if="i === 9">{{ currentKeys[0][10].character }}</span>
                                <span class="weight" v-if="weight_show">
                                    {{ (currentKana === "を" && key.character === "わ") ||
                                       (currentKana === 'ヲ' && key.character === 'ワ') ? currentKeys[0][10].weight : key.weight }}
                                </span>
                            </div>
                            <div class="key backspace"></div>
                        </div>
                        <div class="row">
                            <div class="key" style="min-width: 66px;justify-content: start;padding-left: 10px;font-family: -apple-system;font-size: 17px;">
                                <span style="width: 15px;">→</span>
                                <span style="font-size: 14px;position: relative;top: -3px;left: -2px;">|</span>
                            </div>
                            <div v-for="key in currentKeys[1]" :key="key.character" :class="['key', { highlight: key.character === currentKana && simple_mode }]">
                                <span>{{ key.character }}</span>
                                <span class="weight" v-if="weight_show">{{ key.weight }}</span>
                            </div>
                            <div class="key">゛</div>
                            <div class="key">゜</div>
                            <div class="key enter">
                                <img src="./resource/enter_icon.svg" style="margin-left: 65px;margin-bottom: 5px;"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="key" style="min-width: 105px;justify-content: start;padding-left: 10px;font-size: 15px;">control</div>
                            <div v-for="(key, i) in currentKeys[2]" :key="key.character" :class="['key', {highlight: key.character === currentKana && simple_mode, dotted: i === 3 || i === 6}]">
                                <span>{{ key.character }}</span>
                                <span class="weight" v-if="weight_show">{{ key.weight }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="key shift" style="min-width: 138px;justify-content: start;padding-left: 10px;">⇧</div>
                            <div v-for="key in currentKeys[3]" :key="key.character" :class="['key', { highlight: key.character == currentKana && simple_mode }]">
                                <span>{{ key.character }}</span>
                                <span class="weight" v-if="weight_show">{{ key.weight }}</span>
                            </div>
                            <div class="key shift" style="min-width: 117px;justify-content: end;padding-right: 7px;">⇧</div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
    </body>

    <script src="index.js"></script>
</html>
